<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Niceeeeeee</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>
<p class="mitexto">Esto es un parrafo</p>
<h1>esto es un titulo</h1>
<table border="1">
  <tr class="myhead">
    <th>Productos</th>
    <th>Precios</th>
    <th>Cantidad</th>
  </tr>
  <tr class="mid">
    <td>Computadora</td>
    <td>$500000</td>
    <td>20</td>
  </tr>
  <tr class="bot">
    <td>Iphone</td>
    <td>$4000000</td>
    <td>25</td>
  </tr>
  <tr class="but">
    <td><button>Comprar</button></td>
    <td><button>Procesar</button></td>
    <td><button>Enviar</button></td>
  </tr>
</table>
<br><br>
<h3>Formulario</h3>
<form>
  Ususario
  <input type="text"><br>
  Contraseña
  <input type="text"><br>
  <input type="submit" value="Enviar">
  <br><br>
  <input type="radio" value="HTML">
  <label for="html">HTML</label><br>
  <input type="radio" value="CSS">
  <label for="css">CSS</label>
</form>
<div class="prim">
  <h2>London</h2>
  <p>London is The Capital City of England</p>
  <p>London has over 13 millon of Habitans</p>
  <div class="sec">
    <p>London is </p>
    <p>London has </p>
  </div>
  <div class="thi">
    <p>London is </p>
    <p>London has </p>
  </div>
</div>
</body>
</html>
<router-outlet />